<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>电信资费管理系统</title>
        <link type="text/css" rel="stylesheet" media="all" href="styles/global.css" />
        <link type="text/css" rel="stylesheet" media="all" href="styles/global_color.css" />

        <style>
            .in1{
                margin-top: 250px;
                text-align: center;
                font-size: 40px;
                color: white;
            }
        </style>
    </head>
    <body class="index">
        <div id="navi">
            <ul id="menu">
                <li><a href="index.html" class="index_on"></a></li>
                <li><a href="role/findByPage" class="role_off"></a></li>
                <li><a href="admin/findByPage" class="admin_off"></a></li>
                <li><a href="fee/findByPage" class="fee_off"></a></li>
                <li><a href="account/findByPage" class="account_off"></a></li>
                <li><a href="service/findByPage" class="service_off"></a></li>
                <li><a href="bill/bill_list.html" class="bill_off"></a></li>
                <li><a href="../report/report_list.html" class="report_off"></a></li>
                <li><a href="login/toUpdate" class="information_off"></a></li>
                <li><a href="../user/user_modi_pwd.html" class="password_off"></a></li>
            </ul>
        </div>

        <p class="in1">
            欢迎登录电信资费管理系统
        </p>
    </body>
</html>
